<div class="flex justify-center">
  <div class="w-full bg-backdrop rounded-xl shadow  md:mt-0 sm:max-w-md xl:p-0 ">
    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
      <div>
        <h1 class="text-xl font-bold leading-tight tracking-tight   md:text-2xl ">
          Create new password
          </h1>
          <div class="text-sm mt-2 font-normal">
            Your new password must be different from previous used passwords.
          </div>
      </div>
        <form [formGroup]="form" class="space-y-4 md:space-y-6">
          <div>
            <label
              for="password"
              class="block mb-2 text-sm font-medium  "
              >Password</label
            >
            <form-field
              class="auth"
              [errorControl]="form.get('password')"
              name="Password"
            >
              <!-- <div class="f-prefix align-center material-symbols-outlined ">lock</div> -->
              <img
                src="../../../../../assets/images/key-w.svg"
                alt=""
                class="f-prefix w-6 h-6"
              />
              <input
                #password
                type="password"
                formControlName="password"
                placeholder="••••••••"
                class="f-control"
                autocomplete="off"
              />
              <img
                *ngIf="password.type == 'password'"
                (click)="password.type = 'text'"
                src="../../../../../assets/images/eye-w.svg"
                alt=""
                class="f-append w-6 h-6"
              />
              <img
                *ngIf="password.type == 'text'"
                (click)="password.type = 'password'"
                src="../../../../../assets/images/eye-off-w.svg"
                alt=""
                class="f-append w-6 h-6"
              />
            </form-field>
          </div>
          <div>
            <label
              for="confirm password"
              class="block mb-2 text-sm font-medium  "
              >Confirm Password</label
            >
            <form-field
              class="auth"
              [errorControl]="form.get('cPassword')"
              name="Confirm Password"
            >
              <!-- <div class="f-prefix align-center material-symbols-outlined ">lock</div> -->
              <img
                src="../../../../../assets/images/key-w.svg"
                alt=""
                class="f-prefix w-6 h-6"
              />
              <input
                #cPassword
                type="password"
                formControlName="cPassword"
                placeholder="••••••••"
                class="f-control"
                autocomplete="off"
              />
              <img
                *ngIf="cPassword.type === 'password'"
                (click)="cPassword.type = 'text'"
                src="../../../../../assets/images/eye-w.svg"
                alt=""
                class="f-append w-6 h-6"
              />
              <img
                *ngIf="cPassword.type === 'text'"
                (click)="cPassword.type = 'password'"
                src="../../../../../assets/images/eye-off-w.svg"
                alt=""
                class="f-append w-6 h-6"
              />
            </form-field>
          </div>
          <!-- <div>
            <label for="password" class="block mb-2 text-sm font-medium   ">New Password</label>
            <input autocomplete="new-password" type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300   sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5  " required="">
        </div>
        <div>
            <label for="confirm password" class="block mb-2 text-sm font-medium   ">Confirm Password</label>
            <input autocomplete="new-password" type="password" name="confirm password" id="confirm_password" placeholder="••••••••" class="bg-gray-50 border border-gray-300   sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5  " required="">
        </div> -->
        <button type="submit" (click)="resetPassword()" class="w-full text-white bg-black font-medium rounded-lg text-sm px-5 py-2.5 text-center ">Create Password</button>   
        </form>
    </div>
  </div>
</div>