<div class="bg-transparent shadow-sm rounded-md">
      <div class="px-6">
          <input
            type="search"
            class="block p-2 w-full z-20 text-sm text-gray-900 rounded-lg border border-gray-100"
            placeholder="username(case sensitive), phone number"
            (input)="fetch($event.target)"
          />
      </div>
      <div class="overflow-y-scroll h-[70vh] max-h-[750px] mt-6 px-3">
        <ng-container *ngFor="let user of usersList">
          <div class="px-3"><user [user]="user" ></user></div>
        </ng-container>
      </div>
</div>
