<div class="flex justify-center">
  <div class="w-full bg-backdrop rounded-xl shadow  md:mt-0 sm:max-w-md xl:p-0 ">
    <div class="p-6 space-y-6 md:space-y-8 sm:p-8">
      <div>
        <h1 class="text-xl font-bold leading-tight tracking-tight   md:text-2xl ">
          Email Verification
          </h1>
          <div class="text-sm mt-2 font-normal">
            We have sent a code to your email ba**@dipainhouse.com
          </div>
      </div>

    <form action="" class="space-y-6 md:space-y-8" method="post">
            <div class="flex flex-row items-center justify-between mx-auto w-full max-w-xs">
              <div class="w-16 h-16 ">
                <input maxlength="1" class="w-full h-full flex flex-col items-center justify-center text-center px-5 outline-none rounded-xl border border-gray-200 text-lg bg-white focus:bg-gray-50" type="text" name="" id="">
              </div>
              <div class="w-16 h-16 ">
                <input maxlength="1" class="w-full h-full flex flex-col items-center justify-center text-center px-5 outline-none rounded-xl border border-gray-200 text-lg bg-white focus:bg-gray-50" type="text" name="" id="">
              </div>
              <div class="w-16 h-16 ">
                <input maxlength="1" class="w-full h-full flex flex-col items-center justify-center text-center px-5 outline-none rounded-xl border border-gray-200 text-lg bg-white focus:bg-gray-50" type="text" name="" id="">
              </div>
              <div class="w-16 h-16 ">
                <input maxlength="1" class="w-full h-full flex flex-col items-center justify-center text-center px-5 outline-none rounded-xl border border-gray-200 text-lg bg-white focus:bg-gray-50" type="text" name="" id="">
              </div>
            </div>
            <button type="button" routerLink="../reset-password" class="w-full text-white bg-black font-medium rounded-lg text-sm px-5 py-2.5 text-center ">Verify</button>
            <p class="text-sm font-light   text-center">
              Didn't recieve code?<a routerLink="../sign-in" class="font-medium text-primary-600 hover:underline pl-1 cursor-pointer">Resend</a>
            </p>
        </form>
    </div>
  </div>
</div>