<div class="flex justify-center">
  <div class="w-full bg-backdrop rounded-xl shadow  md:mt-0 sm:max-w-md xl:p-0 ">
    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <div class="flex flex-col justify-center items-center space-y-3">
          <div><img width="200px" height="200px" src="assets/images/email.png" alt=""></div>
          <div class="text-xl font-bold leading-tight tracking-tight   md:text-2xl ">Confirm Your Email</div>
          <div class="text-sm mt-2 font-normal text-center">Your Account has been successfully registered.To Complete the procces, Please check your email!</div>
        </div>
    </div>
  </div>
</div>