<div class="bg-black rounded-3xl shadow-md flex h-[100vh] max-h-[750px]">
  <div class="flex flex-col justify-between items-center py-6 px-4">
   <div class="text-2xl font-bold text-white ">WB</div>
  
   <div class="border border-white rounded-full w-8 h-8 text-center p-1">S</div>
  </div>
  <div class="flex-1">
    <div class="grid grid-cols-12 rounded-3xl">
      <div class="col-span-9">
        <div class="grid grid-cols-3 bg-backdrop rounded-3xl py-6">
          <div class="col-span-1">
            <div class="px-6">
              <form-field class="w-full">
                <img src="../../../assets/images/search-w.svg" alt="" class="f-prefix w-5 h-5">
                <input  type="text" placeholder="Search User" name="email or username" class="f-control w-full" (input)="fetchUsers($event.target); fetchChats($event.target)">
              </form-field>
           
          </div>
          <div class="overflow-y-scroll h-[100vh] max-h-[635px]  mt-6 ">
            <ng-container *ngFor="let chat of chatsList">
              <div class="px-3 mx-3 cursor-pointer" (click)="createChat(chat?.opponentUsers?.[0]?.userId)" >
                <user [chat]="chat" ></user>
              </div>
            </ng-container>
            <ng-container *ngFor="let user of usersList">
              <div class="px-3 mx-3 cursor-pointer" (click)="createChat(user?._id)" >
                <user [user]="user" ></user>
              </div>
            </ng-container>
          </div>
          </div>
          <div class="col-span-2" >
            <!-- <router-outlet></router-outlet> -->
            <!-- <div *ngIf="chatDetails"> -->
              <inbox [chatDetails]="chatDetails" ></inbox>
            <!-- </div> -->
          </div>
        </div>
      </div>
      <div class="col-span-3">
        <user-profile></user-profile>
      </div>
    </div>
  </div>
</div>

