<div class="bg-black rounded-3xl shadow-md flex">
  <div class="flex flex-col justify-between items-center px-4 py-6">
   <div class="text-2xl font-bold text-white">WB</div>
   <div class="border border-white rounded-full w-8 h-8 text-center p-1">S</div>
  </div>

  <div class="flex-auto grid grid-cols-3 gap-5 bg-backdrop rounded-3xl py-6">
    <div class="col-span-1">
      <users-list class="col-span-4"></users-list>
    </div>
    <div class="col-span-2">
      <Inbox class="col-span-8"></Inbox>
    </div>
  </div>

  <div class="flex-1 px-4 py-6">
    <user-profile></user-profile>
  </div>
</div>

