<div class="form-group bg-[#5f687ae6]  text-white sm:text-sm rounded-2xl focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" [ngClass]="radius?'radius':''" [ngClass]="{'b-red' :control?.['touched'] && control?.['invalid']  }">
  <div class="f-prefix">
    <ng-content  select=".f-prefix"></ng-content>
  </div>
  <div class="form-control-wapper pl-2"  >
    <ng-content select=".f-control"></ng-content>
  </div>
  <div class="form-append">
    <ng-content select=".f-append"></ng-content>
  </div>
</div>
<div class="text-xs text-red-500" *ngIf="control?.['touched'] && control?.['invalid']">
  {{ error }}
</div>