<div class="flex justify-center">
  <div class="w-full bg-backdrop rounded-lg shadow md:mt-0 sm:max-w-md  sm:p-8">
    <h1 class="mb-1 text-xl font-bold leading-tight tracking-tight   md:text-2xl">
        Forgot your password?
    </h1>
    <p class="text-sm font-normal">We will send you a link on this email to reset your password!</p>
    <form [formGroup]="form" class="mt-4 space-y-4 lg:mt-5 md:space-y-5" >
        <div>
            <label for="email" class="block mb-2 text-sm font-medium  ">Your email</label>
            <form-field class="auth" [errorControl]="form.get('email')" name="Email">
              <!-- <div class="f-prefix align-center material-symbols-outlined ">person</div> -->
              <img src="../../../../../assets/images/at-w.svg" alt="" class="f-prefix w-6 h-6">
              <input type="email" formControlName="email" placeholder="name@email.com" name="Email" class="f-control" autocomplete="off">
            </form-field>
            <!-- <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300   sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 " placeholder="name@company.com" > -->
        </div>
        
        <button type="button" (click)="forgotPassword()" class="w-full text-white bg-black font-medium rounded-lg text-sm px-5 py-2.5 text-center ">Send Email</button>
        <p class="text-sm font-light   text-center">
          Don’t have an account yet? <a routerLink="../sign-up" class="font-medium text-primary-600 hover:underline ">Sign up</a>
      </form>
  </div>
</div> 